.mnNotifications{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    left: auto;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 10;
    &-item{
        cursor: pointer;
        position: relative;
        font-size: 12px;
        color: #fff;
        margin-top: 1rem;
        border-radius: 6px;
        background: #111111;
        animation: notificationIn .4s 1 ease-out;
        display: flex;
        flex-direction: row;
        // @include mtnTheme('background-color', 'main-7');
        div{
            padding: 1rem;
            display: flex;
            align-items: center;
            &.icn{
                font-size: 2.5rem;
            }
            &:nth-child(2){
                padding-left: 0;
                width: 100%;
            }
        }
    }
}


























































































































































































































































































































































































































































































































































































































































































