.appTop{
    position: relative;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid;
    @include mtnTheme('border-color', 'main-4');

    // SIGN OUT BUTTON
    .logOut{
        height: 100%;
        display: flex;
        button{
            cursor: pointer;
            font-size: rem(23px);
            border: none;
            background-color: transparent;
            display: flex;
            width: 65px;
            align-items: center;
            justify-content: center;
            color: rgb(61, 60, 60);
        }
        
    }
    // THEME SWAP
    .themeSwap{
        display: flex;
        flex-direction: row;
        .item{
            width: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(61, 60, 60);
            opacity: 0.3;
            cursor: pointer;
            font-size: rem(23px);
            &.active{
                opacity: 1;
            }
        }
    }
    // USER PANEL
    .userPanel{
        position: absolute;
        left: 20px;
        bottom: -27.5px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &-avatar{
            margin: 0 1rem;
            display: flex;
            height: 55px;
            width: 55px;
            border-radius: 55px;
            border: 2px solid;
            @include mtnTheme('border-color', 'main-4');
            @include mtnTheme('background-color', 'main-0');
        }
        &-notificaions{
            display: flex;
            height: 30px;
            width: 30px;
            border-radius: 30px;
            border: 2px solid;
            align-items: center;
            justify-content: center;
            @include mtnTheme('color', 'main-7');
            @include mtnTheme('border-color', 'main-4');
            @include mtnTheme('background-color', 'main-0');
            position: relative;
            .badge{
                position: absolute;
                top: -7px;
                right: -7px;
                height: 15px;
                width: 15px;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff6a6;
                font-size: 12px;
                color: #000;
                border: 1px solid;
                @include mtnTheme('border-color', 'main-4');
            }
        }
    }
}