@font-face {
    font-family: 'icomoon';
    src:  url('./icomoon.eot?nxkful');
    src:  url('./icomoon.eot?nxkful#iefix') format('embedded-opentype'),
      url('./icomoon.ttf?nxkful') format('truetype'),
      url('./icomoon.woff?nxkful') format('woff'),
      url('./icomoon.svg?nxkful#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-support-faq:before {
    content: "\e900";
  }
  .icon-tick-mark:before {
    content: "\e90f";
  }
  .icon-exclamation-tringle:before {
    content: "\e910";
  }
  .icon-question-circle:before {
    content: "\e911";
  }
  .icon-info-circle:before {
    content: "\e912";
  }
  .icon-files-stack:before {
    content: "\e913";
  }
  .icon-list:before {
    content: "\e914";
  }
  .icon-ui-calendar:before {
    content: "\e915";
  }
  .icon-exclamation:before {
    content: "\e916";
  }
  .icon-comments:before {
    content: "\e901";
  }
  .icon-dashboard:before {
    content: "\e902";
  }
  .icon-layers:before {
    content: "\e903";
  }
  .icon-clock:before {
    content: "\e904";
  }
  .icon-star:before {
    content: "\e905";
  }
  .icon-file:before {
    content: "\e906";
  }
  .icon-phone:before {
    content: "\e907";
  }
  .icon-users:before {
    content: "\e908";
  }
  .icon-minus:before {
    content: "\e909";
  }
  .icon-plus:before {
    content: "\e90a";
  }
  .icon-power:before {
    content: "\e90b";
  }
  .icon-moon:before {
    content: "\e90c";
  }
  .icon-sun:before {
    content: "\e90d";
  }
  .icon-bell:before {
    content: "\e90e";
  }
  