.meetingCall{
    display: flex;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include mtnTheme('background', 'main-0');
    > div {
        width: 100%;
    }

    .content-left{
        max-width: rem(190px);
        
    }

    .content{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        overflow: hidden;
        @include mtnTheme('background', 'main-2');
        .wrapper{
            display: flex;
            overflow: hidden;
        }
    }
    
}