html {
  font-size: 16px!important;
}

body {
    min-height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Arial, Helvetica, sans-serif;
    //  -webkit-user-select: none;
    overflow: hidden;
}

.App {
  min-height: 100vh;
}

body.noScroll{
    overflow: hidden;
}

*:focus{
    outline: none;
}

#appWrapper{
  // background: #222222;
  height: 100vh;
  display: grid;
  grid-template-rows: 65px 1fr;
  @include mtnTheme('background', 'main-0');
  .appMain{
    display: grid;
    grid-template-columns: 250px 1fr;
    .appContent{
      overflow: hidden scroll;
    }
  }
}

.box{
  border-radius: 16px;
  @include mtnTheme('background', 'main-3');
  @include mtnTheme('border-color', 'main-5');
  border: 1px solid ;
  color: #8b8b8b;
  padding: 1rem;
}
// .avatar {
//   width: 40px;
//   height: 40px;
//   display: flex;
//   background: #dd0433;
//   color: #ffffff;
//   align-content: center;
//   align-items: center;
//   justify-content: center;
//   font-size: 10px;
//   border-radius: 50px;
//   &.mini {
//     width: 30px;
//     height: 30px;
//   }
//   &.micro {
//     font-size: 9px;
//     width: 20px;
//     height: 20px;
//   }
// }

// *:not(.noselect){
//     // -webkit-touch-callout: none; /* iOS Safari */
//     // -webkit-user-select: none; /* Safari */
//     // -khtml-user-select: none; /* Konqueror HTML */
//     // -moz-user-select: none; /* Firefox */
//     // -ms-user-select: none; /* Internet Explorer/Edge */
//     // user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
// }

// @mixin pageColor($color, $size) {
//   background-color: $color;
//       .content-left{
//           max-width: rem($size);
//           background-color: $color;
//       }
// }

// .main{
//   display: flex;
//   height: 100vh;
//   transition: ease-in-out .2s all;
//   filter: blur(0);
//   &.modalVisible {
//     transition: ease-in-out .2s all;
//     filter: blur(1px);
//   }
//   &.dashboard{ @include pageColor(#ff4747, 110px); }
//   &.lobby{ @include pageColor(#591de4, 170px); }
//   > div {
//       width: 100%;
//   }
//   .content{
//       display: flex;
//       flex-direction: column;
//       width: 100%;
//       box-shadow: 0 0 10px rgba(0,0,0,0.2);
//       position: relative;
//       overflow: hidden;
//       border-radius: 15px 0 0 15px;
//       background: #f4f4f4;
//       .wrapper{
//           display: flex;
//           overflow: hidden;
//       }
//   }
// }
