// Dashboard box hover effects
@mixin boxHover($color, $color2) {
    &:before {
        background-color: $color;
        background: -moz-linear-gradient(45deg,  $color 0%, $color2 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg,  $color 0%,$color2 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg,  $color 0%,$color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    }
    .typeOf {
        color: $color;
        span{
            border: rem(2px) solid $color;
        }
    }
    .ant-btn{
        background: $color;
        border-color: lighten($color, 10%);
        border-radius: 6px;
        font-size: 12px;
    }
}
@mixin boxHoverOn($color) {
    box-shadow: 0 18px 18px -18px $color;
    .typeOf {
        color: #fff;
        span{
            border-color: #fff;
        }
    }
    .ant-btn{
        background: #fff;
        border-color: lighten($color, 10%);
        border-radius: 6px;
        font-size: 12px;
        a{
            color: $color!important;
        }
    }
}
@keyframes bubblyOn {
    0% {
      transform: scale(1);
    }
    100% {
        transform: scale(1.06);
    }
}

@keyframes bubblyOff {
    0% {
        transform: scale(1.06);
    }
    50% {
        transform: scale(0.98);
    }
    75% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}
// RIGHT
@keyframes slideInRight {
    0% {
        transform: translate(100%);
    }
    100% {
        transform: translate(0%);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translate(0%);
    }
    100% {
        transform: translate(100%);
    }
}
// UP
@keyframes slideInUp {
    0% {
        transform: translate(0%, 100%);
        
    }
    100% {
        transform: translate(0% , 0%);
    }
}

@keyframes slideOutUp {
    0% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(0%, 100%);
    }
}

@keyframes notificationIn {
    0% {
      right: -8rem;
      opacity: 0;
    }
    55% {
      right: 1rem;
    }
    75% {
        right: -.5rem;
    }
    90% {
        right: .5rem;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}