.main-top{
    display: flex;
    align-items: center;
    border-bottom: rem(1px) solid #e2e2e2;
    > div {
        display: flex;
        height: rem(59px);
        align-items: center;
    }
    .logo{
        width: 100%;
        height: rem(40px);
        margin-left: rem(15px);
        display: flex;
        justify-content: center;
        padding: rem(10px);
        img {
            height: 100%;
        }
    }
    .search {
        width: 400px;
        justify-content: center;
        padding: 0 0 0 40px;
    }
    .control {
        width: rem(300px);
        nav{
            ul{
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    height: rem(40px);
                    width: rem(40px);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    transition: ease-in-out .2s all;
                    cursor: pointer;
                    color: #cfcfcf;
                    &:hover{
                        transition: ease-in-out .2s all;
                        color: #ff9100;
                    }
                    span{
                        font-size: 0;
                    }
                    &:hover{
                        .menu-dots span{
                            transition: ease-in-out .2s all;
                            display: block;
                            height: rem(6px);
                            width: rem(6px);
                            border-radius: rem(6px);
                            background: #ff9100;
                        }
                    }
                    .menu-dots{
                        height: rem(30px);
                        justify-content: space-evenly;
                        display: flex;
                        flex-direction: column;
                        span{
                            transition: ease-in-out .2s all;
                            display: block;
                            height: rem(6px);
                            width: rem(6px);
                            border-radius: rem(6px);
                            background: #cfcfcf;
                        }
                    }
                }
            }
        }
    }
}