@font-face {
  font-family: 'meeton-logos';
  src:  url('./meeton-logos.eot?vp4vji');
  src:  url('./meeton-logos.eot?vp4vji#iefix') format('embedded-opentype'),
    url('./meeton-logos.ttf?vp4vji') format('truetype'),
    url('./meeton-logos.woff?vp4vji') format('woff'),
    url('./meeton-logos.svg?vp4vji#meeton-logos') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="logo-"], [class*=" logo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'meeton-logos' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-logo-text:before {
  content: "\e900";
}
.logo-logo-with-text:before {
  content: "\e901";
}
.logo-logo:before {
  content: "\e902";
}
