.settings{
    color: chartreuse;
    &-tabs{
        display: flex;
        border-bottom: 1px solid red;
        &>div{
            display:inline-flex;
            width:100%;
            padding: 1rem;
            border-right: 1px solid red;
            cursor: pointer;
            justify-content: center;
            &.active{
                background-color: yellow;
            }
            &:hover{
                color:red;
            }
            &:last-child(){
                border:none;
            }
        }
    }
}

.custombox{
    padding: 1rem;
    &-top{
        display: flex;
        flex-direction: row;
        &-label{
            padding: 0.5rem;
            color:white;
        }
        &-icon{
            padding: 0.5rem;
            max-width: 20px;
            color:purple;
            width:100%;

        }
    }
    &-content{
        display:none;
        &.visible{
            display: block;
        }
    }
}
