.chatContainer{
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 100%;
    transition: all 0.5s ease;
    overflow: hidden;
    border-left: 1px solid;
    @include mtnTheme('border-color', 'main-4');
    @include mtnTheme('background', 'main-0');
    .input{
        bottom: 0;
        width: 100%;
        height: 8%;
        padding: 15px;
        border-top: 1px solid rgba(69, 69, 82, 0.25);
        box-sizing: border-box;
        opacity: 0.7;
      
        &:focus {
          outline: none;
        }
    }
    .chatArea{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        .msgList{
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 15px;
            @include mtnTheme('color', 'main-7');
            .msg{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-size: 16px;
                margin-top: 15px;
                margin-left: 15px;
                text-align: left;
              
                & > strong {
                  margin-left: 3px;
                  font-size: 12px;

                }
              
                & > p {
                  max-width: 65%;
                  width: auto;
                  padding: 9px;
                  margin-top: 3px;
                  border-radius: 6px;
                  font-size: 12px;
                  @include mtnTheme('background', 'main-5');

                }
            }
            .usrMsg{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                font-size: 16px;
                margin-top: 15px;
                text-align: right;
              
                & > strong {
                  margin-right: 1rem;
                  font-size: 12px;
                }
              
                & > p {
                  max-width: 65%;
                  width: auto;
                  padding: 9px;
                  margin-top: 3px;
                  margin-right: 1rem;
                  border-radius: 6px;
                  @include mtnTheme('color', 'main-0');
                  @include mtnTheme('background', 'primary');
                  font-size: 12px;
                  text-align: left;
                }
            }
        }
    }
}