.chatContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all 0.5s ease;
    overflow: hidden;
    @include mtnTheme('background', 'main-0');
    &.visible{
      width: 420px;
    }
    &.hidden{
      width: 0;
      opacity: 0.3;
    }
    textarea{
      font-family: 'Arial';
      resize: none;
      bottom: 0;
      height: 8%;
      padding: 15px;
      box-sizing: border-box;
      opacity: 0.7;
      margin: 1rem;
      border: 1px solid;
      padding: .5rem;
      @include mtnTheme('border-color', 'main-4');
      @include mtnTheme('background', 'main-1');
      @include mtnTheme('color', 'primary');
      box-shadow: 0 10px 15px -10px transparent;
      border-radius: 9px;
      transition: ease-in-out all .2s;
      &:focus {
        transition: ease-in-out all .2s;
        outline: none;
        @include mtnTheme('border-bottom-color', 'primary');
        box-shadow: 0 10px 15px -10px #ffeebc;
      }
    }
    .chatArea{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        .msgList{
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 15px;
            @include mtnTheme('color', 'main-7');
            .msg{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-size: 16px;
                margin-top: 15px;
                margin-left: 15px;
                text-align: left;
              
                & > strong {
                  margin-left: 3px;
                  font-size: 12px;

                }
              
                & > p {
                  max-width: 65%;
                  width: auto;
                  padding: 9px;
                  margin-top: 3px;
                  border-radius: 6px;
                  font-size: 12px;
                  @include mtnTheme('background', 'main-5');

                }
            }
            .usrMsg{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                font-size: 16px;
                margin-top: 15px;
                text-align: right;
              
                & > strong {
                  margin-right: 1rem;
                  font-size: 12px;
                }
              
                & > p {
                  max-width: 65%;
                  width: auto;
                  padding: 9px;
                  margin-top: 3px;
                  margin-right: 1rem;
                  border-radius: 6px;
                  @include mtnTheme('color', 'main-0');
                  @include mtnTheme('background', 'primary');
                  font-size: 12px;
                  text-align: left;
                }
            }
        }
    }
}