.callContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11111;
    @include mtnTheme('background', 'main-0');
    .videoCallContainer{
        display: flex;
        width: 100%;
        max-height: 100vh;
        flex-direction: row;
        .videoAndBarContainer{
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            .userName{
                position: absolute;
                font-size: calc(20px + 5vmin);
                z-index: 1;
            }
            .videoContainer{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                grid-template-rows: repeat(auto-fill, minmax(230px, 1fr));
                grid-column-gap: 2rem;
                grid-row-gap: 2rem;
                padding: 1.5rem;
                height: 100%;
                width: 100%;

                &.in-call-1{
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    .videoBox{
                        max-width: 300px;
                        max-height: 300px;
                    }
                }
                &.in-call-2{
                    max-width: 750px;
                    margin: auto;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    .videoBox{
                        max-width: 400px;
                        max-height: 400px;
                    }
                }
                &.in-call-3{
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    .videoBox{
                        max-width: 350px;
                        max-height: 350px;
                    }
                }
                &.in-call-4{
                    max-width: 750px;
                    margin: auto;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    .videoBox{
                        max-width: 350px;
                        max-height: 350px;
                    }
                }
                @for $person from 5 through 15 {
                    &.in-call-#{$person} {
                        grid-template-columns: repeat(auto-fill, minmax(calc((100% - 420px) / (#{$person} / 3)), 1fr));
                        grid-template-rows: repeat(auto-fill, minmax(calc(100% / (#{$person} / 2)), 1fr));
                        .videoBox{
                            max-width: 350px;
                            max-height: 350px;
                        }
                    }
                }
                .videoBoxWrapper{
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    .videoBox{
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 1rem;
                        overflow: hidden;
                        border: .5rem solid rgba(200,200,200,0.1);
                        width: 100%;
                        height: 100%;
                        margin: auto;
                        & > video {
                            top: 0;
                            left: 0;
                            width: 100%;
                            object-fit: cover;
                            height: 100%;
                            object-position: center;
                        }
                    }
                }
            }
        }
    }
}
