.bar{
    position: relative;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-bottom: 1px solid;
    flex-direction: column;
    @include mtnTheme('border-color', 'main-4');
    @include mtnTheme('background', 'main-0');
    .left{
        display: flex;
        align-items: center;
        margin-left: 15px;
        flex-direction: column;
    }
    .center{
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .chatBtn{
        width: 75px;
        border: none;
        font-size: 12px;
        padding: 5px;
        flex-direction: column;
        &:hover {
          background-color: #77b7dd;
          cursor: pointer;
        }
      
        & * {
          pointer-events: none;
        }
    }
    .shareScreenBtn{
        width: auto;
        border: none;
        font-size: 12px;
        padding: 5px;
      
        &:hover {
          background-color: #77b7dd;
          cursor: pointer;
        }
      
        &.sharing {
          color: #ee2560;
        }
    }

    .stopBtn{
        width: 75px;
        height: 30px;
        border: none;
        font-size: 0.9375rem;
        line-height: 30px;
        margin-right: 15px;
        background-color: #ee2560;
        border-radius: 15px;
      
        &:hover {
          background-color: #f25483;
          cursor: pointer;
        }
    }

    .cameraBtn{
        width: 75px;
        border: none;
        font-size: 0.9375rem;
        padding: 5px;
      
        &:hover {
          background-color: #77b7dd;
          cursor: pointer;
          border-radius: 15px;
        }
        &.off {
            color: #ee2560;
        }
        * {
          pointer-events: none;
        }
    }
}