nav.side-nav{
    .logo{
        padding: 10px;
        margin: 12px;
        img{
            width: 100%;
        }
    }
    ul{
        list-style: none;
        margin: rem(15px) 0 0 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        li{
            position: relative;
            background: #fc6161;
            width: 45px;
            height: 45px;
            border-radius: 9px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: ease-in-out .2s all;
            a{
                color: rgba(255,255,255,0.6);

            }
            &:hover{
                transition: ease-in-out .2s all;
                background: #ffffff;
                a{
                    color: #fc6161;
                }
            }
            .badge{
                position: absolute;
                display: inline-flex;
                font-size: rem(10px);
                min-width: rem(15px);
                height: rem(15px);
                background: #202020;
                color: #fff;
                align-items: center;
                justify-content: center;
                border-radius: rem(15px);
                margin-left: rem(10px);
                bottom: -5px;
                right: -5px;
                padding: 4px;
            }
        }
    }
}

.main-nav-item-help{
    .ant-popover-content{
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0 3px 4px rgba(0,0,0,0.2);
        .ant-popover-arrow{
            border-bottom-color: #214d80!important;
            border-left-color: #214d80!important;
            background-color: #214d80;
        }
        .ant-popover-inner{
            background-color: #214d80;
            font-size: 10px;
            .ant-popover-title{
                font-weight: bold;
                color: #fff;
                border: none;
                min-width: auto;
                min-height: auto;
                margin: 0;
                padding: 5px 5px 0px 5px;
            }
            .ant-popover-inner-content{
                color: #d6e1ff;
                padding: 0px 5px 5px 5px;
            }
        }
    }
}