.meeting-box{
    display: flex;
    flex-direction: column;
    font-size: rem(12px);
    height: rem(300px);
    animation: bubblyOff .4s 1 ease-out;
    transform: scale(1);
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    &:before {
        content: '';
        position: absolute;
        display: block;
        height: 120px;
        width: 120px;
        background: black;
        border-radius: 50%;
        z-index: 1;
        right: -70px;
        top: -70px;
        opacity: 1;
        transition: ease-in-out .5s all;
    }
    &:after{
        opacity: 0;
        display: none;
        animation: none;
    }
    &:hover{
        cursor: pointer;
        animation: bubblyOn .5s 1 ease-out;
        transform: scale(1.06);
        &:before {
            transition: ease-in-out .5s all;
            height: 700px;
            width: 700px;
        }
        .top, .mid, .bottom, * {
            transition: ease-in-out .1s all;
            .lead, .extra-info {
                color: #fff!important;
                span{
                    color: #fff!important;
                }
                .icon-star {
                    color: #fff!important;
                }
            }
            .in-meeting{
                opacity: 1;
            }
        }
    }
    .top, .mid, .bottom, * {
        transition: ease-in-out .1s all;
        position: relative;
        z-index: 2;
    }
    &.Ad-hoc{
        @include boxHover(#fce580, #ddb582);
        &:hover{
            @include boxHoverOn(#fff389);
        }
    }
    &.Scheduled{
        @include boxHover(#fc6161, #fcac61);
        &:hover{
            @include boxHoverOn(#fcac61);
        }
    }
    &.timed{
        @include boxHover(#6913ff, #61a4fc);
        &:hover{
            @include boxHoverOn(#61a4fc);
        }
    }
    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: rem(10px);
        border-radius: rem(10px) rem(10px) 0 0;
        .typeOf {
            span{
                display: inline-block;
                width: rem(10px);
                height: rem(10px);
                border: rem(2px) solid;
                margin-right: rem(5px);
                border-radius: rem(10px);
            }
        }
        time{
            font-size: rem(10px);
            margin-left: rem(10px);
            color: #b8b8b8;
        }
        i {
            font-size: rem(18px);
            color: #ececec;
            cursor: pointer;
            transition: ease-in-out .2s all;
            &:hover{
                color: #ffd000;
                transition: ease-in-out .2s all;
            }
        }
    }
    .mid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: rem(5px) rem(15px);
        position: relative;
        > div {
            width: 100%;
            height: 100%;

            &:nth-child(1) {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: start;
                .lead{
                    color: #8f8f8f;
                    margin: 15px 0px;
                    .title {
                        font-weight: bold;
                    }
                    .description {
                        font-style: italic;
                    }
                }
            }
            &.extra-info {
                display: flex;
                position: relative;
                max-height: 15px;
                div{
                    position: relative;
                    height: 15px;
                    border-right: 1px solid #ebebeb;
                    padding-right: 7px;
                    margin-right: 7px;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    &:nth-child(4){
                        border-right: 0!important;
                    }
                    span{
                        font-size: rem(11px);
                        color: #cecece;
                    }
                    .icon-star {
                        color: #cecece;
                        font-size: rem(13px);
                        margin-right: 3px;
                    }
                }
            }
        }
    }
    .bottom{
        display: flex;
        padding: rem(5px) rem(10px);
        justify-content: space-between;
        border-radius: 0 0 rem(10px) rem(10px);
        .in-meeting{
            display: inline-flex;
            flex-direction: row-reverse;
            padding-left:10px;
            opacity: 0.1;
            transition: ease-in-out .2s all;
            .user{
                margin-left: -11px;
                position: relative;
                border: 2px solid #fff;
                border-radius: 50%;
                overflow:hidden;
            }
        }
    }
}
