// import variables first for @mixins
// variables.scss containing themeDark.scss and themeLight.scss
@import './Styles/variables';
@import './Styles/mixins';
@import './Styles/modals';
@import './Styles/buttons';

@import './Styles/rem';

/* ICONS */
@import './assets/icons/icons';

// common.scss containing commonly used classes and mixins
@import './Styles/common';
@import "./Styles/ieBrowser";

@import "./Pages/meetingCall/meetingCall";

@import './Components/Common/SideNav';
@import './Components/TopNav/TopNav';
@import './Components/Dashboard/DashboardMain';
@import './Components/Dashboard/DashboardExtra';
@import './Components/Dashboard/DashboardFilter/DashboardFilter';
@import './Components/Dashboard/DashboardMeetingBox/DashboardMeetingBox';
@import "./Components/meetingCall/meetingCallUserList/meetingCallUserList";
@import "./Components/meetingCall/meetingCallBoard/meetingCallBoard";
@import "./Components/Chat/Chat";

*:focus {
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
}