// import variables first for @mixins
// variables.scss containing themeDark.scss and themeLight.scss
@import './Styles/themes/color-palette';
@import './Styles/variables';

@import './Authentication/AuthPage.scss';

// Meeton logo as icons
@import './Styles/mixins';
@import './Styles/modals';
@import './Styles/buttons';

@import './Styles/rem';

/* ICONS */
@import './assets/logos/style';
@import './assets/icons/icons';

// common.scss containing commonly used classes and mixins
@import './Styles/common';
@import "./Styles/ieBrowser";

@import "./Pages/Dashboard/style";
@import "./Pages/meetingCall/style";

@import './Components/VideoCall/BottomBar/style';
@import './Components/VideoCall/Chat/style';
@import './Components/VideoCall/Lobby/style';
@import './Components/VideoCall/Room/style';

@import './Components/ErrorBoundary/style';

@import './Components/Meetings/style';
@import './Components/Meetings/MeetingsFilter/style';
@import './Components/Meetings/MeetingBox/style';

@import './Components/Common/Notification/style';
@import './Components/AppNav/style';
@import './Components/AppTop/style';
@import './Components/Dashboard/style';
@import "./Components/meetingCall/meetingCallUserList/style";
@import "./Components/meetingCall/meetingCallBoard/style";
@import "./Components/Chat/Chat";



*:focus {
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
}